{% extends "base.html" %}
{% block content %}Home - Flask{% endblock %}
{% block body %}
    <h2>Welcome :]</h2>
    <form method="POST">
        <label for="name">Enter your name:</label>
        <input type="text" name="name" placeholder="name">
        <input type="submit" value="Submit">
    </form>
    <br>
    <img src="https://www.dispatch.com/gcdn/authoring/2013/09/14/NCOD/ghows-OH-bf4e6e22-7956-425c-847a-9a698e93b1db-13667969.jpeg?width=600&height=416&fit=crop&format=pjpg&auto=webp" alt="ugly blobfish :)">
{% endblock %}