body{
    background-color: rgba(215, 236, 250, 0.541);
    color: rgb(41, 33, 11);
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    text-align: center;
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-style: normal;
}
button{
    padding: 15px;
    margin: 10px;
}
#content_wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#img_wrapper{
    display: flex;
    align-items: center;
}
#top_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#hidden{
    display: none;
}