p{
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
button{
    padding: 15px;
    margin: 10px;
}
img{
    width: 250px;
}
#content-wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#img-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#hidden{
    display: none;
}