{% extends "base.html" %}
{% block content %}Activities{% endblock %}

{% block extra_head}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oranienbaum&family=Quintessential&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Oranienbaum&family=Quintessential&display=swap" rel="stylesheet">

    <style>
        body{
            background-color: rgba(215, 236, 250, 0.541);
            color: rgb(41, 33, 11);
            font-family: "Oranienbaum", serif;
            font-weight: 400;
            font-style: normal;
        }
        h1{
            text-align: center;
            font-family: "Oranienbaum", serif;
            font-weight: 400;
            font-style: normal;
        }
        button{
            padding: 15px;
            margin: 10px;
        }
        #content_wrapper{
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
        #img_wrapper{
            display: flex;
            align-items: center;
        }
        #top_wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        #hidden{
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>Activites</h2>
    <h3>Available Activites</h3>
    <ul>
        <li></li>
    </ul>
{% endblock %}