{% extends "base.html" %}
{% block content %}Ski Lessons{% endblock %}

{% block extra_head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oranienbaum&family=Quintessential&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Oranienbaum&family=Quintessential&display=swap" rel="stylesheet">

    <style>
        body{
            background-color: rgba(215, 236, 250, 0.541);
            color: rgb(41, 33, 11);
            font-family: "Oranienbaum", serif;
            font-weight: 400;
            font-style: normal;
        }
        h1{
            text-align: center;
            font-family: "Oranienbaum", serif;
            font-weight: 400;
            font-style: normal;
        }
        #img_wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>Ski Lessons Available</h2>
    <ul>
        <li><b>Youth Ski & Snowboard: </b>Kids learn proper form, mountain safty and a love for the sport while having fun on the slopes. | <b>Ages: </b>3-15 <b>Skill level: </b>All Levels</li>
        <li><b>Adult Ski & Snowboard: </b>For anyone and everyone who wat to improve their skiing and snowboarding. | <b>Ages: </b>16+ <b>Skill Level: </b>All Levels</li>
        <li><b>Private Lessons: </b>This offers the ultimate personalized experience. | <b>Ages: </b>3+ <b>Skill Level: </b>All Levels</li>
        <li><b>Private Mountain Guiding: </b>perfect for all ages and abilities looking ot maximize thier time on the mountain. Share a private guide with friends and family or experience Snowbird 1-on-1 with your guide. | <b>Ages: </b>3+ <b>Skill Level: </b>All Levels</li>
        <li><b>Youth Holiday Camp: </b>4 fun-filled days leading up to Christmas where kids can sharpen their skiing or snowboarding skills and rediscover their confidence on the mountian. | <b>Ages: </b>7-15 <b>Skill Level: </b>Intermediate to Expert</li>
        <li><b>Adult Big Mountain Camp: </b>A 3-day experience desinged for skiers and snowboarders to practice high-level techniques and build the confidenceto tackle the steepand rugged terrain that defines Snowbird. | <b>Ages: </b>18+ <b>Skill Level: </b>Advanced to Expert</li>
        <li><b>Adaptive Lessons: </b>Through world-class instruction and specialized equiment , WAS provides opportunites for those with adaptive needs to experience] the power of recreationn, whenever and wherever, among and inclusive and welcoming community. | <b>Ages: </b>3+ <b>Skill Level: </b>All Levels</li>
        <li><b>Backcountry 101: </b>1-day course i nthe essentials - gear, terrain managment and decision-making. | <b>Ages: </b>16+ <b>Skill Level: </b>Advanced & Above</li>
    </ul>
    <div id="img_wrapper">
    <div id="right">
    <img src="https://www.snowbird.com/_bluedrop/images/sites/default/files/2024-08/Jay_Dash_Photography_IMG_4816_guiding-lesson_youth-speciality-clinic_holiday-amp_1000x667.jpg?u=aHR0cHM6Ly9jbXMuc25vd2JpcmQuY29tL3NpdGVzL2RlZmF1bHQvZmlsZXMvMjAyNC0wOC9KYXlfRGFzaF9QaG90b2dyYXBoeV9JTUdfNDgxNl9ndWlkaW5nLWxlc3Nvbl95b3V0aC1zcGVjaWFsaXR5LWNsaW5pY19ob2xpZGF5LWFtcF8xMDAweDY2Ny5qcGc%3D&d=57919f578ac4f9d65404553002bb5ac1&q=75&w=1000&h=667">
    </div>
    <div id="left">
    <img src="https://www.snowbird.com/_bluedrop/images/sites/default/files/2024-08/Screenshot-2024-08-30-at-4.06.09%E2%80%AFPM_guiding-lessons_adventure-team-video_1000x667_0.jpg?u=aHR0cHM6Ly9jbXMuc25vd2JpcmQuY29tL3NpdGVzL2RlZmF1bHQvZmlsZXMvMjAyNC0wOC9TY3JlZW5zaG90LTIwMjQtMDgtMzAtYXQtNC4wNi4wOSVFMiU4MCVBRlBNX2d1aWRpbmctbGVzc29uc19hZHZlbnR1cmUtdGVhbS12aWRlb18xMDAweDY2N18wLmpwZw%3D%3D&d=e643decc5ea8997c1076e91238e78f68&q=75&w=1000&h=667">
    </div>
    </div>
{% endblock %}